.text_container {
  display: flex;
  width: 100%;
  position: relative; }
  .text_container.v {
    flex-direction: column;
    gap: 5px; }
  .text_container span {
    display: flex;
    font-weight: 400; }
  .text_container.h {
    flex-direction: row; }
    .text_container.h span {
      margin-right: 10px;
      padding: 8px 0; }

.account-settings_token {
  font-size: 15px;
  height: 36px;
  padding: 8px;
  box-sizing: border-box;
  color: #7E8288;
  background: #fafafa;
  border-radius: 3px;
  border: 1px #E5E5E5 solid;
  display: flex;
  flex-grow: 1;
  align-items: center; }
  .account-settings_token_button {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    max-width: 36px;
    max-height: 36px;
    padding: 8px 11px;
    opacity: .7; }
    .account-settings_token_button:hover {
      opacity: 1; }